@use "@styles/mixins/responsive";

.menuItem {
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 0.75em;
  color: var(--Color-gray-500);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 0.25em;
  justify-content: center;
  text-decoration: none;
  width: 100%;

  .label {
    display: none;
    font-size: 0.75em;
  }
  .icon {
    font-size: 1.75em;
  }

  &:hover,
  &.itemActive {
    background-color: var(--Color-red-500);
    color: var(--Color-white);
  }

  @include responsive.apply(md) {
    .label {
      display: block;
    }
  }
}
