@use "./colors" as *;
@use "./reset" as *;
@use "./fonts" as *;

@use "./variables.scss" as *;

html {
  font-size: 16px;
}

body {
  background-color: var(--Color-gray-800);
  color: var(--Color-gray-500);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
