$colors: (
  black: hsl(216, 18%, 35%),
  white: hsl(0, 0%, 98%),
  gray: (
    100: hsl(216, 18%, 15%),
    200: hsl(216, 18%, 25%),
    300: hsl(216, 18%, 35%),
    400: hsl(216, 18%, 45%),
    500: hsl(216, 18%, 55%),
    600: hsl(216, 18%, 65%),
    700: hsl(216, 18%, 75%),
    800: hsl(216, 18%, 85%),
    900: hsl(216, 18%, 95%),
  ),
  green: (
    500: hsl(178, 96%, 37%),
  ),
  red: (
    500: hsl(347, 99%, 57%),
  ),
  yellow: (
    500: hsl(45, 97%, 71%),
  ),
);
