@use "@styles/mixins/responsive";

.titleContainer {
  align-items: center;
  display: flex;
  font-size: 1.75rem;
  justify-content: space-between;

  @include responsive.apply(md) {
    font-size: 2.25rem;
  }
}

.title {
  color: var(--Color-black);
  font-size: 1em;
  font-weight: 600;
  strong {
    font-weight: 300;
  }
}
