@use "@styles/mixins/responsive";

.principalMain {
  align-items: stretch;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  padding: 1rem;
  @include responsive.apply(md) {
    align-items: center;
  }
}

.appContainer {
  background-color: var(--Color-white);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  max-width: var(--Grid-lg);
  overflow: auto;
  width: 100%;

  @include responsive.apply(md) {
    aspect-ratio: 16/9;
    border-radius: 2rem;
    min-height: 700px;
  }
}
